c.JupyterHub.ip = '0.0.0.0'
c.JupyterHub.port = 8888

c.Spawner.cmd = ['{{ jupyter_venv }}/bin/jupyterhub-singleuser']

c.JupyterHub.spawner_class = 'wrapspawner.ProfilesSpawner'
c.Spawner.http_timeout = 120

c.ProfilesSpawner.profiles = [
    ('Jupyter Notebook', 'local', 'jupyterhub.spawner.LocalProcessSpawner', {'ip':'0.0.0.0'}),
    ('Singularity - R Notebook', 'singularity-r', 'singularityspawner.SingularitySpawner', {'default_image_path':'/home/vagrant/singularity-jupyter-demo/jupyter-r.img','cmd':'start-notebook.sh'}),
]

c.Authenticator.admin_users = ('vagrant',)
c.JupyterHub.admin_access = True
